In [ ]:
import urllib
from bs4 import BeautifulSoup
import re
import random as rand
import pandas as pd
import requests

In [ ]:
df1 = df.iloc[0:250000, :]
df2 = df.iloc[250000:500000, :]
df3 = df.iloc[500000:750000, :]
df4 = df.iloc[750000:1000000, :]
df5 = df.iloc[1000000:1250000, :]
df6 = df.iloc[1250000:1500000, :]
df7 = df.iloc[1500000:1682791, :]


df1.to_csv('all_loans_1.csv', header=True, index=None)
df2.to_csv('all_loans_2.csv', header=True, index=None)
df3.to_csv('all_loans_3.csv', header=True, index=None)
df4.to_csv('all_loans_4.csv', header=True, index=None)
df5.to_csv('all_loans_5.csv', header=True, index=None)
df6.to_csv('all_loans_6.csv', header=True, index=None)
df7.to_csv('all_loans_7.csv', header=True, index=None)

In [36]:
# scrape loan description for first 250,000 loans

# Using Kiva API
df = pd.read_csv('all_loans_1.csv', header = 0)
n = 0
session = requests.Session()

df['description'] = ''

for i, row in df.iterrows():
    try:

        loanid = row['LOAN_ID']
        
        # Get HTML
        url = 'https://www.kiva.org/lend/' + str(loanid) + '?minimal=false'
        # https://www.kiva.org/lend/1114506?minimal=false
        
        r = session.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')

        description = soup.find('section', class_= 'loan-description')
        description2 = " ".join(description.text.replace('\r',' ').replace('\n',' ').strip().split())

        df.at[i,'description'] = description2
        
    
    # error handling
    except AttributeError:
        df.at[i,'description'] = ''
        continue
    except ValueError:
        df.at[i,'description'] = ''
        continue
    except requests.exceptions.Timeout:
        df.at[i,'description'] = 'timeout'
    except requests.exceptions.TooManyRedirects:
        df.at[i,'description'] = 'too many redirects'
    except requests.exceptions.RequestException:
        df.at[i,'description'] = 'request exception'
    except requests.exceptions.HTTPError:
        df.at[i,'description'] = 'HTTP Error'
    except requests.exceptions.ConnectionError:
        df.at[i,'description'] = 'Connection Error'
    except requests.exceptions.Timeout:
        df.at[i,'description'] = 'Timeout Error'
    except:
        df.at[i,'description'] = 'Some error'


df.to_csv('all_loans_1_parse.csv', header=True, index=None)

In [21]:
df.head(5)

,LOAN_ID,LOAN_NAME,FUNDED_AMOUNT,LOAN_AMOUNT,STATUS,IMAGE_ID,VIDEO_ID,ACTIVITY_NAME,SECTOR_NAME,LOAN_USE,...,LENDER_TERM,NUM_LENDERS_TOTAL,NUM_JOURNAL_ENTRIES,NUM_BULK_ENTRIES,TAGS,BORROWER_NAMES,BORROWER_GENDERS,BORROWER_PICTURED,REPAYMENT_INTERVAL,DISTRIBUTION_MODEL
0,109156,Afolabi,550.0,550.0,funded,321370.0,NaN,Pharmacy,Health,To purchase more medicines to sell,...,10.0,20,1,1,NaN,Afolabi,male,true,monthly,field_partner
1,109347,Laura,550.0,550.0,funded,321669.0,NaN,Livestock,Agriculture,Purchase of goats and cows.,...,6.0,18,1,1,NaN,Laura,female,true,monthly,field_partner
2,109490,Betania IV-B Group,3150.0,3150.0,funded,319693.0,NaN,Cattle,Agriculture,To buy cattle to be fattened,...,14.0,87,4,3,NaN,"Henderina, Margen, Dominggus, Efni, Elias, Fra...","female, male, male, male, male, female, male, ...","true, true, false, true, true, true, true, fal...",bullet,field_partner
3,109570,Ajka,575.0,575.0,funded,322148.0,NaN,Poultry,Agriculture,To buy turkeys to raise,...,15.0,22,1,1,NaN,Ajka,female,true,monthly,field_partner
4,109819,Maria Salome,500.0,500.0,funded,320794.0,NaN,Manufacturing,Manufacturing,To purchase strands of nylon,...,7.0,18,1,1,NaN,Maria Salome,female,true,irregular,field_partner